*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:#050505;

font-family:Poppins,sans-serif;

overflow-x:hidden;

color:white;

}

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

position:relative;

overflow:hidden;

background:

radial-gradient(circle at top,#2a0b17,#050505 70%);

}

.glass{

padding:70px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(30px);

border-radius:30px;

border:1px solid rgba(255,255,255,.1);

max-width:900px;

animation:fade 2s;

}

.hero h3{

font-family:"Cormorant Garamond";

font-size:38px;

font-weight:400;

color:#ff9cbc;

margin-bottom:20px;

}

.hero h1{

font-family:"Cormorant Garamond";

font-size:90px;

font-weight:700;

margin-bottom:30px;

text-shadow:

0 0 20px rgba(255,120,160,.4);

}

.hero p{

font-size:20px;

color:#ddd;

line-height:1.8;

margin-bottom:50px;

}

button{

padding:18px 45px;

font-size:18px;

border:none;

border-radius:60px;

cursor:pointer;

background:linear-gradient(135deg,#ff3d77,#ff7ea5);

color:white;

transition:.4s;

}

button:hover{

transform:translateY(-6px);

box-shadow:

0 20px 40px rgba(255,70,130,.4);

}

@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:none;

}

}
